
/*Font family inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --font-color: #ffffff;
  --brand-gold: #ffd700;
  --brand-red: #e50914;
  --brand-black: #141414;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(12, 12, 12, 0.9)), url(https://bst-studio-x.github.io/UPSKILL-PROJECT/images/home-bc.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#brand{
    align-self: flex-start;
    margin: 40px 40px;
    height: 36px;
}

.container {
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: var(--font-color);
    margin: 0 0 24px;
}

.quote{
    color: var(--font-color);
    font-size: 1.2em;
    text-align: center;
}

.uplivello{
    position: absolute;
    top: 5%;
    right: 5%
}


.form-group {
    margin-bottom: 20px;
}

 fieldset{
    width: 90%;
    height: auto;
    border: 0.6px solid #ffffff;
}

fieldset legend{
    display: block;
    font-weight: 500;
    color: #ffffff;
}

fieldset input{
    outline: none;
    border: none;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    border: 0.5px solid #b8b4b4;
    color: var(--font-color);
}

.password_container input:focus {
    outline: 0.4px solid var(--font-color);
    border-color: var(--font-color);
}

 .password_input{
   border: 0.9px solid #333;
} 


.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #0d0d0e;
    color: white;
    border: none;
    border-radius: 4px;
    font: 500 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background: var(--brand-red);
}

button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.or{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.social-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-logo{
    padding: 10px 40px;
    border: solid 1px #4D4D4D;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: .25s;
}

.socials-logo:hover{
    border: solid 1px #ddd;
    transition: .25s;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 6px;
}

.login-link a {
    color: var(--brand-gold);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.success-message {
    display: none;
    background: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.password_container{
    position: relative;
}

.password_container input[type="password"]{
    padding-right: 30px;
}

.password_container i{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}
